<div class="text-center">
  <section class="form-section">
    <form {{#if userInSession.main}}action="/complaint/{{complaint._id}}/update" {{/if}}method="post" enctype="multipart/form-data" class="row g-3 bg-moonstone mt-1">
			<h4 class="my-0" style="text-shadow: 1px 1px 1px black">Complaint Details</h4>
      {{#if errorMessage}}
				<div class="col-12 text-center">
				<p class="error-message">{{errorMessage}}</p>
				</div>
			{{/if}}

			{{#if userInSession.main}}
			<div class="col-md-4">
				<label class="form-label" for="userId">Supplier</label>
				<select name="userId" class="form-control" id="userId" required="required">
					{{#with complaint}}
          <option value="{{userId._id}}" selected>{{userId.org}}</option>
          {{/with}}

					{{#each allSuppliers}}
						<option value="{{_id}}">{{org}}</option>
					{{/each}}
				</select>
			</div>
			{{/if}}
      
			<div class="col-md-8">
				<label class="form-label" for="partNumber">Part Number</label>
				<input 
					class="form-control {{#unless userInSession.main}}bg-dark text-light{{/unless}}" 
					id="partNumber" 
					placeholder="..." 
					type="text"
					{{#unless userInSession.main}} readonly="readonly" {{/unless}}
					required="required"
					name="partNumber"
          value="{{complaint.partNumber}}"
				/>
			</div>

			<div class="col-md-3">
				<label class="form-label" for="batch">Batch</label>
				<input 
					class="form-control {{#unless userInSession.main}}bg-dark text-light{{/unless}}" 
					id="batch" 
					placeholder="..." 
					type="text"
					{{#unless userInSession.main}} readonly="readonly" {{/unless}}
					required="required"
					name="batch"
          value="{{complaint.batch}}"
				/>
			</div>

			<div class="col-md-3">
				<label class="form-label" for="quantity">Quantity</label>
				<input 
					class="form-control {{#unless userInSession.main}}bg-dark text-light{{/unless}}" 
					id="quantity" 
					placeholder="0"
					type="number"
					{{#unless userInSession.main}} readonly="readonly" {{/unless}}
					required="required"
					name="quantity"
          min="1"
          value="{{complaint.quantity}}"
				/>
			</div>

			<div class="col-md-6">
				<label for="problemDate" class="form-label">Problem Date</label>
				<input 
					class="form-control {{#unless userInSession.main}}bg-dark text-light{{/unless}}"
					id="problemDateForm"
					type="date"
					{{#unless userInSession.main}} readonly="readonly" {{/unless}}
					required="required"
					name="problemDate"
					max=""
          value="{{configuredDate}}"
				>
			</div>

			<div class="col-12">
				<label class="form-label" for="problemDesc">Problem Description</label>
				<textarea 
					class="form-control {{#unless userInSession.main}}bg-dark text-light{{/unless}}"
					id="problemDesc" 
					placeholder="description"
					type="text"
					{{#unless userInSession.main}} readonly="readonly" {{/unless}}
					required="required"
					name="problemDesc"
          cols="40"
          rows="3"
				>{{complaint.problemDesc}}</textarea>
			</div>

			{{#if userInSession.main}}
			<div class="col-12">
				<label class="form-label" for="problemImg">Problem Images</label>
				<input type="text" name="existingProblemImg" hidden value="{{complaint.problemImg}}">
				<input 
					class="form-control" 
					id="problemImg" 
					placeholder=""
					type="file"
          {{#unless complaint.problemImg}}
					required="required"
          {{/unless}}
					name="problemImg"
          accept=".gif, .jpg, .jpeg, .png,"
				/>
			</div>
			{{/if}}

      {{#if complaint.problemImg}}
      <div class="container mb-2 d-flex flex-column text-center mt-3 align-items-center justify-content-center">
				<p>There's an image previously uploaded</p>
				<div class="d-flex flex-row align-items-center justify-content-center mb-2">
					<div class="px-4">
						<img src="{{complaint.problemImg}}" alt="problem-image" width="50px">
					</div>
					<div class="px-4">
						<a href="{{complaint.problemImg}}" class="btn btn-outline-primary" download>
							See full Image
						</a>
					</div>
				</div>
      </div>
      {{/if}}

			{{#if userInSession.main}}
			<div>
				<button class="pet-form-button" type="submit">Save</button>
			</div>
			{{/if}}
    </form>
  </section>
</div>


