{{userInSession}}

<div class="wrapper">
  <section class="form-section">
    <form {{#if userInSession.main}}action="/complaint/{{complaint._id}}/update" {{/if}}method="post" enctype="multipart/form-data">
      {{#if errorMessage}}
				<p class="error-message">{{errorMessage}}</p>
			{{/if}}

			{{#if userInSession.main}}
			<div class="form-group">
				<label class="form-label" for="userId"> Supplier: </label>
				<select name="userId" class="form-control" id="">
					{{#with complaint}}
          <option value="{{userId._id}}" selected>{{userId.org}}</option>
          {{/with}}

					{{#each allSuppliers}}
						<option value="{{_id}}">{{org}}</option>
					{{/each}}
				</select>
			</div>
			{{/if}}

      
			<div class="form-group">
				<label class="form-label" for="partNumber">Part Number: </label>
				<input 
					class="form-field" 
					id="partNumber" 
					placeholder="123abc" 
					type="text"
					{{#unless userInSession.main}} disabled="disabled" {{/unless}}
					required="required"
					name="partNumber"
          value="{{complaint.partNumber}}"
				/>
			</div>

			<div class="form-group">
				<label class="form-label" for="batch">Batch: </label>
				<input 
					class="form-field" 
					id="batch" 
					placeholder="" 
					type="text"
					{{#unless userInSession.main}} disabled="disabled" {{/unless}}
					required="required"
					name="batch"
          value="{{complaint.batch}}"
				/>
			</div>

			<div class="form-group">
				<label class="form-label" for="quantity">Quantity: </label>
				<input 
					class="form-control" 
					id="quantity" 
					placeholder="0"
					type="number"
					{{#unless userInSession.main}} disabled="disabled" {{/unless}}
					required="required"
					name="quantity"
          min="1"
          value="{{complaint.quantity}}"
				/>
			</div>

			<div class="form-group">
				<label class="form-label" for="problemDesc">Problem: </label>
				<textarea 
					class="form-field"
					id="problemDesc" 
					placeholder="description"
					type="text"
					{{#unless userInSession.main}} disabled="disabled" {{/unless}}
					required="required"
					name="problemDesc"
          cols="40"
          rows="3"
				>{{complaint.problemDesc}}</textarea>
			</div>

			<div class="form-group">
				<label for="problemDate" class="form-label">Problem date:</label>
				<input 
					class="form-control"
					id="problemDateForm"
					type="date"
					{{#unless userInSession.main}} disabled="disabled" {{/unless}}
					required="required"
					name="problemDate"
					max=""
          value="{{configuredDate}}"
				>
			</div>

			{{#if userInSession.main}}
			<div class="form-group">
				<label class="form-label" for="problemImg">Problem images: </label>
				<input type="text" name="existingProblemImg" hidden value="{{complaint.problemImg}}">
				<input 
					class="form-control-file" 
					id="problemImg" 
					placeholder=""
					type="file"
          {{#unless complaint.problemImg}}
					required="required"
          {{/unless}}
					name="problemImg"
          accept=".gif, .jpg, .jpeg, .png,"
				/>
			</div>
			{{/if}}

      {{#if complaint.problemImg}}
      <div class="container mb-2 d-flex flex-column">
				<p>There's an image previously uploaded</p>
				<img src="{{complaint.problemImg}}" alt="" width="50px" class="mb-3">
        <a href="{{complaint.problemImg}}" class="btn btn-outline-primary" download>
          See full Image
        </a>
      </div>
      {{/if}}

			{{#if userInSession.main}}
			<div>
				<button class="pet-form-button" type="submit">Save</button>
			</div>
			{{/if}}
    </form>
  </section>
</div>


