{{#if userInSession}}
  <nav class="navbar navbar-expand">
      <div class="navbar-nav">
        {{#if userInSession.main}}
          <div class="nav-item mx-2">
            <a href="/auth/create-user" class="btn btn-success">Add Supplier Account</a>
          </div>
          <div class="nav-item mx-2">
            <a href="/complaint/create" class="btn btn-warning">Add Complaint</a>
          </div>
          <div class="nav-item mx-2">
            <a href="/auth/users-list" class="btn btn-warning">Supplier list</a>
          </div>
        {{/if}}
      </div>
  </nav>

  <h2>Your Profile</h2>
  <h3>Welcome, {{ userInSession.username }}!</h3>
  <p>This is your profile page my friend from {{userInSession.org}}!</p>
  <p>email: {{userInSession.email}}</p>

  {{#if userInSession.main}}
    <p>in Main account</p>
  {{/if}}

  <div class="container-fluid" id="main-table">
    <div id="toolbar">
    </div>
    
    {{#if userInSession.main}}
      <table id="table" class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Complaint ID</th>
            <th scope="col">Report ID</th>
              <th scope="col">Supplier</th>
            <th scope="col">Creation date</th>
            <th scope="col">Approval</th>
          </tr>
        </thead>
        <tbody>
          {{#each allReports}}
          <tr>
            <td><a title="Details" href="/complaint/details{{complaint}}">{{complaint}}</a></td>
            <td><a title="Details" href="/report/details{{_id}}">{{_id}}</a></td>
            <td><a title="Edit" href="/auth/edit-user/{{userId._id}}">{{userId.org}}</a></td>
            <td class="date-type">{{createdAt}}</td>
            <td>{{approval}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <table id="table" class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Complaint ID</th>
            <th scope="col">Report ID</th>
            <th scope="col">Creation date</th>
            <th scope="col">Approval</th>
          </tr>
        </thead>
        <tbody>
          {{#each allReports}}
          <tr>
            <td><a href="/complaint/details{{complaint}}">{{complaint}}</a></td>
            <td><a href="/report/details{{_id}}">{{_id}}</a></td>
            <td class="date-type">{{createdAt}}</td>
            <td>{{approval}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
{{else}}
  <br><p>Still no logged in user, sorry!</p>
{{/if}}