{{#if userInSession}}
  <nav class="navbar navbar-expand">
      <div class="navbar-nav">
        {{#if userInSession.main}}
          <div class="nav-item mx-2">
            <a href="/auth/create-user" class="btn btn-success">Add Supplier Account</a>
          </div>
          <div class="nav-item mx-2">
            <a href="/auth/users-list" class="btn btn-warning">Supplier list</a>
          </div>
          <div class="nav-item mx-2">
            <a href="/complaint/create" class="btn btn-danger">Add Complaint</a>
          </div>
        {{/if}}
      </div>
  </nav>

  <div class="container mt-3 p-2 mb-3 text-center">
    <h2>Your Profile</h2>
    <h3>Welcome, {{ userInSession.username }}!</h3>
    <p>This is your profile page my friend from {{userInSession.org}}!</p>
    <p>Email: {{userInSession.email}}</p>

    {{#if userInSession.main}}
      <p class="text-warning">You have Main Account privileges</p>
    {{/if}}
  </div>

  <div class="container-fluid table-responsive" id="main-table">
    {{#if userInSession.main}}
      <table id="table" class="table table-hover table-dark table-sm text-center">
        <thead>
          <tr>
            <th scope="col">Complaint ID</th>
            <th scope="col">Report ID</th>
            <th scope="col">PN</th>
            <th scope="col">Supplier</th>
            <th scope="col">Creation</th>
            <th scope="col">Status</th>
            <th scope="col">Aging</th>
            <th scope="col" hidden>Last update</th>
            <td scope="col"></td>
          </tr>
        </thead>
        <tbody>
          {{#each allComplaints}}
          <tr class="complaint">
            <td><a class="btn btn-outline-primary"href="/complaint/{{_id}}/details">{{_id}}</a></td>
            <td><a class="btn btn-outline-info" href="/report/{{report._id}}/details">{{report._id}}</a></td>
            <td>{{partNumber}}</td>
            <td>{{userId.org}}</td>
            <td class="date-type">{{createdAt}}</td>
            <td class="status">
              {{#if report.approval}}
              Closed
              {{else}}
              On-going
              {{/if}}
            </td>
            <td class="aging">{{createdAt}}</td>
            <td class="last-update" hidden>{{report.updatedAt}}</td>
            <td>
              {{!-- Modal button to POST delete Compalint --}}
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteComplaint{{_id}}">Delete</button>
              {{!-- Modal POST to delete Complaint and all related data to it--}}
              <div class="modal fade" id="deleteComplaint{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog form-section">
                  <form class="modal-content bg-dark" action="/complaint/{{_id}}/delete" method="POST">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 text-danger fw-bold" id="staticBackdropLabel">Are you sure?</h1>
                    </div>      
                    <div class="modal-body">
                      <p>
                        <strong>Please confirm deletion of Complaint {{_id}}</strong>
                        <br><br>
                        <strong class="text-warning fs-sm">This will also delete the Related Report and Actions to this Complaint</strong>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button class="btn btn-outline-danger" type="submit">Confirm</button>
                    </div>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <table id="table" class="table table-hover table-dark table-sm text-center">
        <thead>
          <tr>
            <th scope="col">Complaint ID</th>
            <th scope="col">Report ID</th>
            <th scope="col">PN</th>
            <th scope="col">Creation</th>
            <th scope="col">Status</th>
            <th scope="col">Aging</th>
            <th scope="col" hidden>Last update</th>
          </tr>
        </thead>
        <tbody>
          {{#each allComplaints}}
          <tr class="complaint">
            <td><a class="btn btn-outline-primary" href="/complaint/{{_id}}/details">{{_id}}</a></td>
            <td>
              <a class="btn btn-outline-info" href="/report/{{report._id}}/details">
              {{report._id}}
              </a>
            </td>
            <td>{{partNumber}}</td>
            <td class="date-type">{{report.createdAt}}</td>
            <td class="status">
              {{#if report.approval}}
              Approved
              {{else}}
              On-going
              {{/if}}
            </td>
            <td class="aging">{{createdAt}}</td>
            <td class="last-update" hidden>{{report.updatedAt}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
{{else}}
  <br><p>Still no logged in user, sorry!</p>
{{/if}}