{{#with complaint}}

{{/with}}


{{#with report}}
  <h2>Report: {{_id}}</h2>
  {{!--  D3 Content --}}
  <div class="form-section d-flex flex-column">
    {{!-- D3 form --}}
    <form action="http://localhost:3000/report/{{_id}}/update" method="post" class="col-md-12 row">
        <input type="hidden" name="submissionD" value="3">
        
        {{!-- D1 --}}
        <div class="form-group">
				<label class="form-label" for="team"> D1 Build the Team: </label>
          <ul id="team" class="list-group list-group-flush rounded-2">
            <li class="list-group-item list-group-item-dark">
              <input type="text" name="member0" id="" value="{{d3.teamMembers.[0]}}">
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="text" name="member1" id="" value="{{d3.teamMembers.[1]}}">
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="text" name="member2" id="" value="{{d3.teamMembers.[2]}}">
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="text" name="member3" id="" value="{{d3.teamMembers.[3]}}">
            </li>
          </ul>
        </div>

        {{!-- D2 --}}
        <div class="form-group">
          <label class="form-label" for="table">D2 Describe the problem:</label>
          <table id="table" class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">5W2H</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>What?</td>
                <td>
                  <textarea class="form-field"
                    id="problemDesc" 
                    placeholder="What is the problem"
                    type="text"
                    required="required"
                    name="w0"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[0]}}</textarea>
                </td>
              </tr>
              <tr>
                <td>When?</td>
                <td>
                  <textarea class="form-field"
                    id="problemDesc" 
                    placeholder="When did it happen?"
                    type="text"
                    required="required"
                    name="w1"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[1]}}</textarea>
                </td>
              </tr>
              <tr>
                <td>Where?</td>
                <td><textarea class="form-field"
                    id="problemDesc" 
                    placeholder="Where was detected?"
                    type="text"
                    required="required"
                    name="w2"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[2]}}</textarea></td>
              </tr>
              <tr>
                <td>Who?</td>
                <td><textarea class="form-field"
                    id="problemDesc" 
                    placeholder="Who detected the problem?"
                    type="text"
                    required="required"
                    name="w3"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[3]}}</textarea></td>
              </tr>
              <tr>
                <td>Why?</td>
                <td><textarea class="form-field"
                    id="problemDesc" 
                    placeholder="Why it's a problem?"
                    type="text"
                    required="required"
                    name="w4"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[4]}}</textarea></td>
              </tr>
              <tr>
                <td>How?</td>
                <td><textarea class="form-field"
                    id="problemDesc" 
                    placeholder="How it was detected?"
                    type="text"
                    required="required"
                    name="w5"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[5]}}</textarea></td>
              </tr>
              <tr>
                <td>How many?</td>
                <td><textarea class="form-field"
                    id="problemDesc" 
                    placeholder="How many units are affected?"
                    type="text"
                    required="required"
                    name="w6"
                    cols="40"
                    rows="1"
                  >{{d3.w5h2.[1]}}</textarea></td>
              </tr>
            </tbody>
          </table>
        </div>

        {{!-- D3 attachment--}}
        <div class="form-group">
          <label class="form-label" for="problemImg">D3 attachment: </label>
          <input 
            class="form-field" 
            id="d3Attachment" 
            placeholder="" 
            type="file"
            name="d3Attachment"
            accept=".xlsx, .xlsm, .pdf, .docx, .pptx, .pptm" 
          />
          <div class="container bg-transparent">
            {{#if d3.attachment}}
            <a href="{{d3.attachment}}" class="btn btn-outline-primary" download>
              Download Attachment
            </a>
            {{/if}}
          </div>
        </div>

        {{!-- Save changes Button --}}
        <div class="container d-flex justify-content-center bg-transparent">
          <button type="submit" class="btn btn-success">Save D3</button>
        </div>
    </form>
    {{!-- D3 Actions --}}
    <div class="form-group">
      <div class="container-fluid main-table mt-2">
        <table id="table" class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">D3 actions</th>
              <th scope="col">Action description</th>
              <th scope="col">Owner</th>
              <th scope="col">Creation date</th>
              <th scope="col">Due date</th>
              <th scope="col">Closure Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each actionsD3}}
            <tr>
              <td>
                {{!-- Modal button to Edit Action --}}
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAction{{_id}}">Edit</button>
                <div class="modal fade" id="editAction{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog form-section">
                    <form class="modal-content bg-dark" action="/action/{{_id}}/update" method="POST">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit action</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container d-flex flex-column">
                          {{!-- Update Action description --}}
                          <div class="form-group">
                            <label for="content" class="form-label">Action: </label>
                            <input class="form-field" type="text" name="content" id="" required="required" value="{{content}}">
                          </div>

                          {{!-- Update Owner --}}
                          <div class="form-group">
                            <label for="content" class="form-label">Owner: </label>
                            <input class="form-field" type="text" name="ownerName" id="" required="required" value="{{ownerName}}">
                          </div>
                          
                          {{!-- Update Closure Date --}}
                          <div class="form-group">
                            <div class="container">
                              <label for="closeDate" class="form-label">Closure Date: </label>
                            </div>
                            <input class="form-field" type="date" id="closeDate" name="closeDate" max="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
              <td>{{content}}</td>
              <td>{{ownerName}}</td>
              <td class="date-type">{{createdAt}}</td>
              <td class="date-type">{{dueDate}}</td>
              <td class="date-type">{{closeDate}}</td>
              <td>
                {{!-- Modal button to POST delete Action --}}
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteAction{{_id}}">Delete</button>
              {{!-- Modal POST to Complaint --}}
              <div class="modal fade" id="deleteAction{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog form-section">
                  <form class="modal-content bg-dark" action="/action/{{_id}}/delete" method="POST">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 text-danger fw-bold" id="staticBackdropLabel">Are you sure?</h1>
                    </div>      
                    <div class="modal-body">
                      <p>
                        <strong>Please confirm deletion of this Action:
                          <br>
                          {{content}} by {{ownerName}}
                        </strong>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button class="btn btn-outline-danger" type="submit">Confirm</button>
                    </div>
                  </form>
                </div>
              </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  {{!-- D4 content --}}
  <div class="form-section d-flex flex-column">
    <form action="http://localhost:3000/report/{{_id}}/update" method="post" class="col-md-12 row">
      <input type="hidden" name="submissionD" value="4">
      {{!-- 5 whys and Root Causes--}}
      <div class="form-group">
        <label class="form-label" for="table">D4 Root Cause Analysis:</label>
        <table id="table" class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">5 why</th>                
              <th scope="col">Why it was not detected?</th>
              <th scope="col">Why did it occurred?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Why?</td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="whyDet0"
                  cols="20"
                  rows="1"
                >{{d4.whyDet.[0]}}</textarea>
              </td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="whyOcc0"
                  cols="20"
                  rows="1"
                >{{d4.whyOcc.[0]}}</textarea>
              </td>
            </tr>
            <tr>
              <td>Why?</td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="whyDet1"
                  cols="20"
                  rows="1"
                >{{d4.whyDet.[1]}}</textarea>
              </td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="whyOcc1"
                  cols="20"
                  rows="1"
                >{{d4.whyOcc.[1]}}</textarea>
              </td>
            </tr>
            <tr>
              <td>Why?</td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="whyDet2"
                  cols="20"
                  rows="1"
                >{{d4.whyDet.[2]}}</textarea>
              </td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  name="whyOcc2"
                  cols="20"
                  rows="1"
                >{{d4.whyOcc.[2]}}</textarea>
              </td>
            </tr>
            <tr>
              <td>Why?</td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  name="whyDet3"
                  cols="20"
                  rows="1"
                >{{d4.whyDet.[3]}}</textarea>
              </td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  name="whyOcc3"
                  cols="20"
                  rows="1"
                >{{d4.whyOcc.[3]}}</textarea>
              </td>
            </tr>
            <tr>
              <td>Why?</td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  name="whyDet4"
                  cols="20"
                  rows="1"
                >{{d4.whyDet.[4]}}</textarea>
              </td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  name="whyOcc4"
                  cols="20"
                  rows="1"
                >{{d4.whyOcc.[4]}}</textarea>
              </td>
            </tr>
            <tr>
              <td>Root Cause:</td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="rootCauseDet"
                  cols="20"
                  rows="1"
                >{{d4.rootCauseDet}}</textarea>
              </td>
              <td>
                <textarea class="form-field" 
                  type="text"
                  required="required"
                  name="rootCauseOcc"
                  cols="20"
                  rows="1"
                >{{d4.rootCauseOcc}}</textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      {{!-- D4 attachment--}}
      <div class="form-group">
        <label class="form-label" for="problemImg">D4 attachment: </label>
        <input 
          class="form-field" 
          id="d4Attachment" 
          placeholder="" 
          type="file"
          name="d4Attachment"
          accept=".xlsx, .xlsm, .pdf, .docx, .pptx, .pptm" 
        />
        <div class="container bg-transparent">
          {{#if d4.attachment}}
          <a href="{{d4.attachment}}" class="btn btn-outline-primary" download>
            Download Attachment
          </a>
          {{/if}}
        </div>
      </div>

      {{!-- Save changes Button --}}
      <div class="container d-flex justify-content-center bg-transparent">
        <button type="submit" class="btn btn-success">Save D4</button>
      </div>
    </form>
  </div>

  {{!-- D5 & D6 content --}}
  <div class="form-section d-flex flex-column">
    <form action="http://localhost:3000/report/{{_id}}/update" method="post" class="col-md-12 row">
      <input type="hidden" name="submissionD" value="5">
      {{!-- attachments--}}
      <div class="form-group">
        <label class="form-label" for="problemImg">D5/D6 attachment: </label>
        <input 
          class="form-field" 
          id="d5d6Attachment" 
          placeholder="" 
          type="file"
          name="d5d6Attachment"
          accept=".xlsx, .xlsm, .pdf, .docx, .pptx, .pptm" 
        />
        <div class="container bg-transparent">
          {{#if d5d6.attachment}}
          <a href="{{d5d6.attachment}}" class="btn btn-outline-primary" download>
            Download Attachment
          </a>
          {{/if}}
        </div>
      </div>

      {{!-- Save changes Button --}}
      <div class="container d-flex justify-content-center bg-transparent">
        <button type="submit" class="btn btn-success">Save D5/D6</button>
      </div>
    </form>
    {{!-- D5 & D6 Actions --}}
    <div class="form-group">
      <div class="container-fluid main-table mt-2">
        <table id="table" class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">D5/D6 actions</th>
              <th scope="col">Action description</th>
              <th scope="col">Owner</th>
              <th scope="col">Creation date</th>
              <th scope="col">Due date</th>
              <th scope="col">Closure Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each actionsD5D6}}
            <tr>
              <td>
                {{!-- Modal button to Edit Action --}}
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAction{{_id}}">Edit</button>
                <div class="modal fade" id="editAction{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog form-section">
                    <form class="modal-content bg-dark" action="/action/{{_id}}/update" method="POST">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit action</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container d-flex flex-column">
                          {{!-- Update Action description --}}
                          <div class="form-group">
                            <label for="content" class="form-label">Action: </label>
                            <input class="form-field" type="text" name="content" id="" required="required" value="{{content}}">
                          </div>

                          {{!-- Update Owner --}}
                          <div class="form-group">
                            <label for="content" class="form-label">Owner: </label>
                            <input class="form-field" type="text" name="ownerName" id="" required="required" value="{{ownerName}}">
                          </div>
                          
                          {{!-- Update Closure Date --}}
                          <div class="form-group">
                            <div class="container">
                              <label for="closeDate" class="form-label">Closure Date: </label>
                            </div>
                            <input class="form-field" type="date" id="closeDate" name="closeDate" max="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
              <td>{{content}}</td>
              <td>{{ownerName}}</td>
              <td class="date-type">{{createdAt}}</td>
              <td class="date-type">{{dueDate}}</td>
              <td class="date-type">{{closeDate}}</td>
              <td>
                {{!-- Modal button to POST delete Action --}}
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteAction{{_id}}">Delete</button>
              {{!-- Modal POST to Complaint --}}
              <div class="modal fade" id="deleteAction{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog form-section">
                  <form class="modal-content bg-dark" action="/action/{{_id}}/delete" method="POST">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 text-danger fw-bold" id="staticBackdropLabel">Are you sure?</h1>
                    </div>      
                    <div class="modal-body">
                      <p>
                        <strong>Please confirm deletion of this Action:
                          <br>
                          {{content}} by {{ownerName}}
                        </strong>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button class="btn btn-outline-danger" type="submit">Confirm</button>
                    </div>
                  </form>
                </div>
              </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {{!-- D7 content --}}
  <div class="form-section d-flex flex-column">
    <form action="http://localhost:3000/report/{{_id}}/update" method="post" class="col-md-12 row">
      <input type="hidden" name="submissionD" value="7">
      {{!-- attachments--}}
      <div class="form-group">
        <label class="form-label" for="problemImg">D7 attachment: </label>
        <input 
          class="form-field" 
          id="d7Attachment" 
          placeholder="" 
          type="file"
          name="d7Attachment"
          accept=".xlsx, .xlsm, .pdf, .docx, .pptx, .pptm" 
        />
        <div class="container bg-transparent">
          {{#if d7.attachment}}
          <a href="{{d7.attachment}}" class="btn btn-outline-primary" download>
            Download Attachment
          </a>
          {{/if}}
        </div>
      </div>

      {{!-- Save changes Button --}}
      <div class="container d-flex justify-content-center bg-transparent">
        <button type="submit" class="btn btn-success">Save D7</button>
      </div>
    </form>
    {{!-- D7 Actions --}}
    <div class="form-group">
      <div class="container-fluid main-table mt-2">
        <table id="table" class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">D7 actions</th>
              <th scope="col">Action description</th>
              <th scope="col">Owner</th>
              <th scope="col">Creation date</th>
              <th scope="col">Due date</th>
              <th scope="col">Closure Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each actionsD7}}
            <tr>
              <td>
                {{!-- Modal button to Edit Action --}}
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAction{{_id}}">Edit</button>
                <div class="modal fade" id="editAction{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog form-section">
                    <form class="modal-content bg-dark" action="/action/{{_id}}/update" method="POST">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit action</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container d-flex flex-column">
                          {{!-- Update Action description --}}
                          <div class="form-group">
                            <label for="content" class="form-label">Action: </label>
                            <input class="form-field" type="text" name="content" id="" required="required" value="{{content}}">
                          </div>

                          {{!-- Update Owner --}}
                          <div class="form-group">
                            <label for="content" class="form-label">Owner: </label>
                            <input class="form-field" type="text" name="ownerName" id="" required="required" value="{{ownerName}}">
                          </div>
                          
                          {{!-- Update Closure Date --}}
                          <div class="form-group">
                            <div class="container">
                              <label for="closeDate" class="form-label">Closure Date: </label>
                            </div>
                            <input class="form-field" type="date" id="closeDate" name="closeDate" max="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
              <td>{{content}}</td>
              <td>{{ownerName}}</td>
              <td class="date-type">{{createdAt}}</td>
              <td class="date-type">{{dueDate}}</td>
              <td class="date-type">{{closeDate}}</td>
              <td>
                {{!-- Modal button to POST delete Action --}}
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteAction{{_id}}">Delete</button>
              {{!-- Modal POST to Complaint --}}
              <div class="modal fade" id="deleteAction{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog form-section">
                  <form class="modal-content bg-dark" action="/action/{{_id}}/delete" method="POST">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 text-danger fw-bold" id="staticBackdropLabel">Are you sure?</h1>
                    </div>      
                    <div class="modal-body">
                      <p>
                        <strong>Please confirm deletion of this Action:
                          <br>
                          {{content}} by {{ownerName}}
                        </strong>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button class="btn btn-outline-danger" type="submit">Confirm</button>
                    </div>
                  </form>
                </div>
              </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>



  {{#unless userInSession.main}}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAction">
    + action
  </button>
  <!-- Modal POST to create Action -->
  <div class="modal fade" id="createAction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog form-section">
      <form class="modal-content bg-dark" action="/report/{{_id}}/action/create" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">New action</h1>
        </div>
        
        <div class="modal-body">
          <div class="container d-flex flex-column">
            <div class="form-group">
              <div class="container">
                <label for="dStep" class="form-label">Step: </label>
              </div>
              <select name="dStep" id="" class="ml-4 form-control">
                <option value="d3">D3</option>
                <option value="d5d6">D5</option>
                <option value="d7">D7</option>
              </select>
            </div>
            <div class="form-group">
              <label for="content" class="form-label">Action: </label>
              <input class="form-field" type="text" name="content" id="" required="required" placeholder="Brief description">
            </div>
            <div class="form-group">
              <label for="content" class="form-label">Owner: </label>
              <input class="form-field" type="text" name="ownerName" id="" required="required" placeholder="Full name">
            </div>
            
            <div class="form-group">
              <div class="container">
                <label for="dueDate" class="form-label">Due date: </label>
              </div>
              <input class="form-field" type="date" id="dueDate" required="required" name="dueDate" max="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
  {{/unless}}
{{/with}}